<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [style]="{'height': '419px'}" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [maxLength]="30" property="code" [required]="false" requiredText="is required" title="Code" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="50" property="libelle" [required]="false" requiredText="is required" title="Libelle" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="200" property="description" [required]="false" requiredText="is required" title="Description" type="string">
        </rz-string-form-field>
        <rz-boolean-form-field property="active" [required]="false" requiredText="is required" title="Active" type="boolean">
        </rz-boolean-form-field>
        <rz-date-form-field property="date_creation" [required]="false" requiredText="is required" title="Date Creation" type="date">
        </rz-date-form-field>
        <rz-text-form-field property="json" [required]="false" requiredText="is required" title="Json" type="text">
        </rz-text-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
